.catalog {
  $catalog: &;
  @include block();
  padding: 30px 0 250px 0;

  &__info {
    @include block();
    max-width: 740px;
    margin: 0 auto;
  }

  &__text {
    @include block();
    margin-top: 30px;

    p {
      text-align: center;
      font-size: 30px;
      line-height: 36px;
    }

    b, a {
      font-weight: 700;
      font-size: inherit;
      line-height: inherit;
    }

    a {
      text-decoration: none;
    }
  }

  &__top {
    @include flex();
    justify-content: space-between;
    border-top: 1px solid $color_gray;
    border-bottom: 1px solid $color_gray;
    min-height: 55px;
    margin-top: 70px;

    &-left, &-right {
      @include flex();
    }

    &-left {
      #{$catalog}__dropdown {
        margin-right: 30px;
      }
    }
  }

  &__dropdown {
    @include flex();
    justify-content: center;

    &-title {
      @include flex();
      align-items: center;
      font-family: 'Montserrat', sans-serif;
      font-weight: 400;
      font-size: 14px;
      line-height: 18px;
      color: $color_text_blue;
      cursor: pointer;

      &:after {
        @include inline_block();
        @include image('arrow-down-blue.svg', content, center);
        width: 8px;
        height: 4px;
        margin-left: 8px;
        content: '';
      }
    }

    &-cont {
      position: absolute;
      display: none;
    }
  }

  &__cont {
    @include flex();
    flex-wrap: wrap;
    padding-top: 52px;
    margin: 0 -11px;
  }

  &__item {
    position: relative;
    width: 25%;
    padding: 0 11px 40px 11px;
  }

  &__box {
    @include flex();
    flex-direction: column;
    border: 1px solid transparent;
    min-height: 583px;
    padding-bottom: 17px;
    transition: border-color $time;

    .button-like {
      position: absolute;
      top: 15px;
      right: 14px;
      z-index: 1;
    }

    &-img {
      @include block();

      a {
        @include flex();
        align-items: center;
        justify-content: center;
        min-height: 380px;
      }

      img {
        max-width: 100%;
      }
    }

    &-title {
      @include flex();
      margin: 5px 14px 8px 14px;

      .addition {
        position: absolute;
        right: 0;
        top: 50%;
        margin-top: -17px;
      }
    }

    &-type {
      @include flex();
      align-items: center;
      justify-content: flex-start;
      min-height: 40px;
      font-family: 'Montserrat', sans-serif;
      font-weight: 500;
      font-size: 14px;
      line-height: 12px;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: $color_text_blue;
    }

    &-name {
      @include block();
      max-width: 230px;
      padding: 0 14px;

      a {
        font-weight: 700;
        font-size: 30px;
        line-height: 34px;
        text-decoration: none;
      }
    }

    &-price {
      @include block();
      padding: 0 14px;
      margin-top: 8px;
      font-family: 'Montserrat', sans-serif;
      font-weight: 400;
      font-size: 17px;
      line-height: 21px;
      color: $color_text_blue;
    }

    &:hover {
      border-color: $color_gray;
    }
  }

  &__button {
    @include block(center);
    margin-top: 100px;
  }
}
