.catalog {
  $catalog: &;
  @include block();
  padding: 42px 0 265px 0;

  @media (max-width: $screen_lg) {
    padding: 40px 0 140px 0;
  }

  &--indentProduct {
    padding-bottom: 200px;
  }

  &__info {
    @include block();
    max-width: 740px;
    margin: 0 auto;
  }

  &__text {
    @include block();
    margin-top: 22px;

    @media (max-width: $screen_lg) {
      margin-top: 26px;
    }

    p {
      text-align: center;
      font-size: 30px;
      line-height: 36px;

      @media (max-width: $screen_lg) {
        font-size: 19px;
        line-height: 23px;
      }
    }

    b, a {
      font-weight: 700;
      font-size: inherit;
      line-height: inherit;
    }

    a {
      text-decoration: none;
    }
  }

  &__filters {
    @include flex();
    justify-content: space-between;
    border-top: 1px solid $color_gray;
    border-bottom: 1px solid $color_gray;
    height: 56px;
    margin-top: 79px;
    z-index: 10;

    @media (max-width: $screen_lg) {
      border-top: none;
      border-bottom: none;
      height: 36px;
      margin-top: 47px;
    }

    &-left, &-right {
      @include flex();

      @media (max-width: $screen_lg) {
        position: static;
      }
    }

    &-left {
      #{$catalog}__dropdown {
        margin-right: 30px;
      }

      @media (max-width: $screen_lg) {
        width: 50%;
        justify-content: flex-start;
        padding-right: 5px;
      }
    }

    &-right {
      @media (max-width: $screen_lg) {
        width: 50%;
        justify-content: flex-end;
        padding-left: 5px;
      }
    }
  }

  &__dropdown {
    $dropdown: &;
    @include flex();
    justify-content: center;
    z-index: 1;

    @media (max-width: $screen_lg) {
      position: static;
    }

    &-title {
      @include flex();
      align-items: center;
      font-family: 'Montserrat', sans-serif;
      font-weight: 400;
      font-size: 14px;
      line-height: 18px;
      color: $color_text_blue;
      cursor: pointer;
      user-select: none;

      @media (max-width: $screen_lg) {
        font-weight: 700;
        font-size: 10px;
        line-height: 10px;
        text-transform: uppercase;
        border: 1px dashed $color_gray;
        padding: 2px 40px 0 22px;
        transition: border $time;
      }

      @media (max-width: $screen_xs) {
        padding: 2px 30px 0 12px;
      }

      &:after {
        @include inline_block();
        @include image('arrow-down-blue.svg', content, center);
        width: 8px;
        height: 4px;
        margin-left: 8px;
        content: '';
        transition: transform $time;

        @media (max-width: $screen_lg) {
          position: absolute;
          top: 50%;
          right: 17px;
          margin: -2px 0 0 0;
        }

        @media (max-width: $screen_xs) {
          right: 12px;
        }
      }
    }

    &-cont {
      position: absolute !important;
      display: none;
      top: 54px;
      left: 0;
      height: auto;
      background-color: $color_fon_main;
      border: 1px solid $color_gray;
      overflow: hidden;

      @media (max-width: $screen_lg) {
        top: 35px;
      }
    }

    &-contBlock {
      @include block();
      width: 240px;
      max-height: 254px;
      margin: 20px 15px;
      padding: 0 20px 0 0;

      @media (max-width: $screen_lg) {
        margin: 17px 15px;
        width: 100%;
      }
    }

    &-categories {
      @include block();
      margin-bottom: 10px;

      span {
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        font-size: 13px;
        line-height: 12px;
        color: $color_text_blue;
      }
    }

    &-list {
      @include block();

      &:not(:last-child) {
        margin-bottom: 15px;
      }

      li {
        @include block();

        &:not(:last-child) {
          margin-bottom: 10px;
        }
      }
    }

    &.active {
      #{$dropdown}-title {
        &:after {
          transform: rotate(180deg);
        }

        @media (max-width: $screen_lg) {
          border-style: solid;
        }
      }
    }

    &--type {
      @media (max-width: $screen_lg) {
        display: none;
      }
    }

    &--region {
      @media (max-width: $screen_lg) {
        display: none;
      }
    }

    &--mobile {
      display: none;

      @media (max-width: $screen_lg) {
        display: flex;
      }

      #{$dropdown}-cont {
        @media (max-width: $screen_lg) {
          width: 100%;
        }
      }

      #{$dropdown}-contBlock {
        @media (max-width: $screen_lg) {
          margin: 0;
          padding: 0;
          max-height: none;
        }
      }
    }

    &--sorting {
      #{$dropdown}-cont {
        left: auto;
        right: 0;

        @media (max-width: $screen_lg) {
          width: 210px;
        }
      }
      #{$dropdown}-contBlock {
        width: 180px;
        padding: 0;

        @media (max-width: $screen_lg) {
          width: auto;
        }
      }
    }
  }

  &__filterSlider {
    $filter: &;
    @include block();

    &-box {
      @include block();
      min-height: 45px;
      padding: 18px 15px 12px 15px;

      &:not(:last-child) {
        border-bottom: 1px dashed $color_gray;
      }
    }

    &-title {
      @include block();

      span {
        position: relative;
        display: inline-flex;
        align-items: center;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        font-size: 11px;
        line-height: 11px;
        color: $color_text_blue;
        cursor: pointer;
        user-select: none;

        &:after {
          @include inline_block();
          @include image('arrow-down-blue.svg', content, center);
          width: 5px;
          height: 3px;
          margin-left: 7px;
          content: '';
          transition: transform $time;
        }
      }

      &.active span{
        &:after {
          transform: rotate(180deg);
        }
      }
    }

    &-cont {
      position: relative;
      display: none;
    }

    &-cont {
      padding: 10px 0 0px 10px;
     
      > #{$filter}-title {
        padding-top: 17px;
        padding-bottom: 13px;
        border-top: 1px dashed $color_gray;
      }

      > #{$filter}-cont {
        padding: 0;

        &:not(:last-child) {
          #{$catalog}__dropdown-list {
            padding-bottom: 15px;
          }
        }
      }
    }
  }

  &__cont {
    @include flex();
    flex-wrap: wrap;
    padding-top: 52px;
    margin: 0 -11px;

    @media (max-width: $screen_lg) {
      padding-top: 34px;
    }
  }

  &__item {
    position: relative;
    width: 25%;
    padding: 0 11px 40px 11px;

    @media (max-width: $screen_xl) {
      width: 33.33%;
    }

    @media (max-width: $screen_lg) {
      width: 50%;
      padding-bottom: 20px;
    }
  }

  &__box {
    @include flex();
    flex-direction: column;
    border: 1px solid transparent;
    min-height: 583px;
    padding-bottom: 17px;
    transition: border-color $time;

    @media (max-width: $screen_lg) {
      border: none;
      min-height: 310px;
      padding-bottom: 0;
    }

    .button-like {
      position: absolute;
      top: 15px;
      right: 14px;
      z-index: 1;

      @media (max-width: $screen_lg) {
        top: 0;
        right: 0;
      }
    }

    .info-new {
      top: 15px;
      z-index: 1;

      @media (max-width: $screen_lg) {
        top: 5px;
      }
    }

    &-img {
      @include block();

      a {
        @include flex();
        align-items: center;
        justify-content: center;
        min-height: 380px;

        @media (max-width: $screen_md) {
          min-height: auto;
          height: 300px;
          padding: 30px 20px;
        }

        @media (max-width: $screen_sm) {
          height: 200px;
          padding: 15px 10px;
        }
      }

      img {
        max-width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    &-title {
      @include flex();
      margin: 5px 14px 8px 14px;

      @media (max-width: $screen_lg) {
        margin: 0 0 4px 0;
      }

      .addition {
        position: absolute;
        right: 0;
        top: 50%;
        margin-top: -17px;

        @media (max-width: $screen_lg) {
          top: -37px;
          margin-top: 0;
        }
      }
    }

    &-type {
      @include flex();
      align-items: center;
      justify-content: flex-start;
      flex-wrap: wrap;
      min-height: 40px;
      padding-right: 80px;
      font-family: 'Montserrat', sans-serif;
      font-weight: 500;
      font-size: 14px;
      line-height: 18px;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: $color_text_blue;

      @media (max-width: $screen_lg) {
        min-height: 24px;
        font-size: 9px;
        line-height: 11px;
      }
    }

    &-name {
      @include block();
      max-width: 250px;
      padding: 0 14px;

      @media (max-width: $screen_lg) {
        max-width: none;
        padding: 0;
      }

      a {
        font-weight: 700;
        font-size: 30px;
        line-height: 34px;
        text-decoration: none;

        @media (max-width: $screen_lg) {
          font-size: 15px;
          line-height: 17px;
        }
      }
    }

    &-price {
      @include block();
      padding: 0 14px;
      margin-top: 8px;
      font-family: 'Montserrat', sans-serif;
      font-weight: 400;
      font-size: 17px;
      line-height: 21px;
      color: $color_text_blue;

      @media (max-width: $screen_lg) {
        padding: 0;
        margin-top: 5px;
        font-size: 11px;
        line-height: 13px;
      }
    }

    &:hover {
      border-color: $color_gray;
    }
  }

  &__button {
    @include block(center);
    margin-top: 100px;

    @media (max-width: $screen_lg) {
      margin-top: 4px;
    }
  }
}
