.contacts {
  @include block();
  padding: 42px 0 270px 0;

  @media (max-width: $screen_lg) {
    padding: 40px 0 140px 0;
  }

  &:before, &:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';

    @media (max-width: $screen_lg) {
      display: none;
    }
  }

  &:before {
    @include image('patterns/pattern-5.svg', 298px auto, left 0 top 135px);

    @media (max-width: $width_max) {
      background-size: 180px auto;
    }
  }

  &:after {
    @include image('patterns/pattern-6.svg', 219px auto, right 0 top 375px);

    @media (max-width: $width_max) {
      background-size: 120px auto;
    }
  }

  #{$cont} {
    z-index: 1;
  }

  .title {
    h1, h2 {
      @media (max-width: $screen_xs) {
        text-align: left;
      }
    }
  }

  &__text {
    @include block(center);
    margin-top: 32px;

    @media (max-width: $screen_lg) {
      margin-top: 25px;
    }

    p {
      text-align: center;
      font-size: 30px;
      line-height: 36px;

      @media (max-width: $screen_lg) {
        font-size: 19px;
        line-height: 23px;
      }

      @media (max-width: $screen_xs) {
        text-align: left;
      }
    }
  }

  &__cont {
    @include flex();
    flex-direction: column;
    margin-top: 133px;

    @media (max-width: $screen_lg) {
      margin-top: 50px;
    }

    &-box {
      @include flex();
      flex-direction: column;
      align-items: center;
      margin-bottom: 30px;

      @media (max-width: $screen_lg) {
        margin-bottom: 41px;
      }

      @media (max-width: $screen_xs) {
        align-items: flex-start;
      }
    }

    &-title {
      font-size: 30px;
      line-height: 110px;
      color: $color_text_blue;

      @media (max-width: $screen_lg) {
        font-size: 19px;
        line-height: 21px;
      }
    }

    &-link {
      position: relative;
      margin-top: -30px;
      font-size: 120px;
      line-height: 110px;
      color: $color_text_blue;
      text-decoration: none;

      @media (max-width: $width_max) {
        font-size: 90px;
        line-height: 80px;
      }

      @media (max-width: $screen_lg) {
        margin-top: 2px;
        font-size: 30px;
        line-height: 40px;
      }

      &:after {
        position: absolute;
        bottom: 6px;
        left: 0;
        width: 100%;
        height: 6px;
        content: '';
        background-color: $color_text_blue;
        transition: opacity 0.1s;

        @media (max-width: $width_max) {
          bottom: 4px;
          height: 5px;
        }

        @media (max-width: $screen_lg) {
          bottom: 7px;
          height: 2px;
        }
      }

      &:hover {
        &:after {
          @media (min-width: $screen_lg + 1px) {
            opacity: 0;
          }
        }
      }
    }
  }
}
