.delivery {
  @include block();
  padding: 38px 0 260px 0;

  @media (max-width: $screen_lg) {
    padding: 40px 0 140px 0;
  }

  .patterns__box {
    &:nth-child(1) {
      @include image('patterns/delivery/pattern-1.svg', 73px auto, left 0 top 10px);

      @media (max-width: $width_max) {
        background-size: 60px auto;
      }
    }
    &:nth-child(2) {
      @include image('patterns/delivery/pattern-2.svg', 219px auto, right 0 top 100px);

      @media (max-width: $width_max) {
        background-size: 140px auto;
        background-position: right 0 top 210px;
      }
    }
  }

  &__inform {
    @include block();
    max-width: 794px;
    margin: 37px auto 0 auto;

    @media (max-width: $screen_lg) {
      margin-top: 24px;
    }

    p {
      text-align: center;
      font-size: 30px;
      line-height: 36px;

      @media (max-width: $screen_lg) {
        font-size: 19px;
        line-height: 23px;
      }
    }
  }

  &__info {
    @include block();
    margin-top: 70px;

    @media (max-width: $screen_lg) {
      margin-top: -15px;
    }

    p {
      font-family: 'Montserrat', sans-serif;
      font-weight: 400;
      font-size: 19px;
      line-height: 24px;

      @media (max-width: $screen_lg) {
        font-size: 12px;
        line-height: 16px;
      }
    }
  }

  &__infoTitle {
    @include block(center);
    margin: 158px 0 64px 0;

    @media (max-width: $screen_lg) {
      margin: 117px 0 42px 0;
    }

    i, h2 {
      text-align: center;
      font-weight: 700;
      font-size: 44px;
      line-height: 44px;

      @media (max-width: $screen_lg) {
        font-size: 30px;
        line-height: 30px;
      }
    }
  }

  &__table {
    $table: &;
    @include flex();
    flex-direction: column;
    margin-bottom: 45px;

    @media (max-width: $screen_lg) {
      display: none;
    }

    &-head, &-body {
      @include flex();

      span {
        @include flex();
        align-items: center;
        color: $color_text_blue;

        &:nth-child(1) {
          width: 25.6%;
        }
        &:nth-child(2) {
          width: 17.1%;
        }
        &:nth-child(3) {
          width: 25.7%;
        }
        &:nth-child(4) {
          width: 17%;
        }
        &:nth-child(5) {
          width: 14.6%;
        }
      }
    }

    &-head {
      min-height: 66px;
      border-bottom: 1px solid $color_gray;

      span {
        font-size: 17px;
        line-height: 19px;
      }
    }

    &-body {
      min-height: 73px;

      &:nth-child(2) {
        min-height: 77px;
      }

      span {
        &:not(:first-child) {
          border-bottom: 1px solid $color_gray;
        }

        &:not(#{$table}-title) {
          font-family: 'Montserrat', sans-serif;
          font-weight: 400;
          font-size: 19px;
          line-height: 23px;
        }
      }

      &:last-child span {
        border: none;
      }
    }

    &-title {
      font-size: 30px;
      line-height: 36px;
    }
  }

  &__tableMobile {
    display: none;
    margin-bottom: 48px;

    @media (max-width: $screen_lg) {
      @include flex();
    }

    &-type {
      position: relative;
      width: 150px;
      padding: 4px 10px 0 0;

      @media (max-width: $screen_xs) {
        width: 90px;
      }

      span {
        font-size: 13px;
        line-height: 14px;
        color: $color_text_blue;
      }
    }

    &-cont {
      position: relative;
      flex: 1;
    }

    &-title {
      @include block();
      margin-bottom: 30px;
      font-size: 21px;
      line-height: 23px;
      color: $color_text_blue;
    }

    &-list {
      @include block();
      border-top: 1px solid #C4C4C4;
      padding: 5px 0 10px 0;

      li {
        @include flex();
        justify-content: space-between;
        margin: 7px 0;

        @media (max-width: $screen_xs) {
          justify-content: flex-start;
        }
        
        span {
          color: $color_text_blue;

          &:nth-child(1) {
            font-size: 13px;
            line-height: 15px;

            @media (max-width: $screen_xs) {
              min-width: 95px;
            }
          }

          &:nth-child(2) {
            font-size: 12px;
            line-height: 15px;
          }
        }
      }
    }
  }

  &__block {
    $block: &;
    @include block();
    margin-top: 225px;

    @media (max-width: $screen_lg) {
      margin-top: 112px;
    }

    &-img {
      max-width: 100%;

      @media (max-width: $screen_lg) {
        max-width: none;
        width: 100%;
      }

      @media (max-width: $screen_xs) {
        left: -15px;
        width: calc(100% + 30px);
      }
    }

    &-text {
      @include block();

      p {
        font-size: 30px;
        line-height: 36px;

        @media (max-width: $screen_lg) {
          font-size: 19px;
          line-height: 23px;
        }
      }

      &--first {
        margin: 85px 0 58px 0;

        @media (max-width: $screen_lg) {
          margin: 40px 0 40px 0;
        }
      }
    }

    &-title {
      @include block();
      height: 0;
      padding-left: 43%;
      top: 5px;

      @media (max-width: $screen_lg) {
        height: auto;
        padding-left: 0;
        top: auto;
        margin-bottom: 31px;
      }

      i, h2 {
        font-weight: 700;
        font-size: 44px;
        line-height: 44px;

        @media (max-width: $screen_lg) {
          font-size: 30px;
          line-height: 30px;
          text-align: center;
        }
      }
    }

    &-list {
      @include block();
      max-width: 425px;

      @media (max-width: $screen_lg) {
        margin-bottom: 40px;
      }

      @media (max-width: $screen_xs) {
        max-width: none;
      }

      li {
        @include block();

        &:not(:last-child) {
          margin-bottom: 17px;
        }

        padding-left: 22px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 19px;
        line-height: 24px;
        color: $color_text_blue;

        @media (max-width: $screen_lg) {
          font-size: 12px;
          line-height: 16px;
        }

        b {
          position: absolute;
          top: 0;
          left: 0;
          font-family: inherit;
          font-weight: inherit;
          font-size: inherit;
          line-height: inherit;
          color: inherit;
        }
      }

      &--desk {
        @media (max-width: $screen_lg) {
          display: none;
        }
      }
    }

    &-liMob {
      display: none !important;

      @media (max-width: $screen_lg) {
        display: block !important;
      }
    }

    &-row {
      @include flex();

      @media (max-width: $screen_lg) {
        flex-direction: column;
      }

      &--first {
        #{$block}-col {
          position: relative;
    
          &:nth-child(1) {
            width: 43%;
            padding-right: 28px;

            @media (max-width: $screen_lg) {
              width: auto;
              padding-right: 0;
            }

            img {
              margin-bottom: 174px;

              @media (max-width: $screen_lg) {
                margin-bottom: 0;
              }
            }
          }
          &:nth-child(2) {
            flex: 1;

            @media (max-width: $screen_lg) {
              flex: auto;
            }
          }
        }
      }

      &--last {
        margin-top: 153px;

        @media (max-width: $screen_lg) {
          margin-top: 40px;
        }

        #{$block}-col {
          position: relative;
    
          &:nth-child(1) {
            width: 60%;
            padding-right: 28px;

            @media (max-width: $screen_lg) {
              width: auto;
              order: 1;
              padding-right: 0;
            }
          }
          &:nth-child(2) {
            flex: 1;

            @media (max-width: $screen_lg) {
              flex: auto;
              order: 0;
            }
          }
        }
      }
    }

    &-col {
      position: relative;

      @media (max-width: $screen_lg) {
        display: block;
      }
    }
  }
}
