.donateSet {
  @include block();
  margin: 167px 0 222px 0;

  &__block {
    @include block();

    .title {
      max-width: 880px;
      margin: 0 auto;
    }
  }

  &__img {
    @include block();
    margin-top: -40px;

    img {
      @include block();
      max-width: 100%;
      margin: 0 auto;
    }
  }

  &__description {
    @include block();
    max-width: 1100px;
    margin: 44px auto 0 auto;

    p {
      font-size: 30px;
      line-height: 36px;
      text-align: center;
    }

    b, a {
      font-weight: 700;
      font-size: inherit;
      line-height: inherit;
    }

    a {
      text-decoration: none;
    }
  }

  &__button {
    @include flex();
    justify-content: center;
    margin-top: 56px;
  }
}
