.logo {
  @include image('logo.svg', content, center);
  width: 120px;
  height: 40px;
}

.title {
  @include block();

  h1, h2 {
    @include block();
    font-size: 60px;
    line-height: 60px;

    b {
      text-align: inherit;
      font-weight: 700;
      font-size: inherit;
      line-height: inherit;
      letter-spacing: -0.02em;
      color: inherit;
    }
  }

  &--max {
    h1, h2 {
      font-size: 120px;
      line-height: 120px;
    }
  }

  &--min {
    h1, h2 {
      font-size: 40px;
      line-height: 40px;
    }
  }

  &--small {
    h1, h2 {
      font-size: 30px;
      line-height: 30px;
    }
  }

  &--center {
    h2 {
      text-align: center;
    }
  }
}

.delimiter {
  @include block();
  @include image('patterns/pattern-blue-1.svg', auto 100%, center);
  height: 46px;
  
  &:before, &:after {
    position: absolute;
    top: 50%;
    height: 1px;
    margin-top: -1px;
    background-color: $color_blue;
    content: '';
  }

  &:before {
    left: 0;
    right: calc(50% + 52px);    
  }

  &:after {
    right: 0;
    left: calc(50% + 52px);  
  }
}

.inputField {
  $input: &;
  @include block();

  &__title {
    @include block();
    margin-bottom: 5px;
    font-size: 17px;
    line-height: 19px;
    color: $color_text_blue;

    &--centre {
      text-align: center;
    }
  }

  &__box {
    @include block();
  }

  &__value {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 64px;
    padding: 0 23px 0 23px;
    background-color: $color_white;
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 23px;
    color: $color_text_blue;

    &::placeholder { 
      color: #A7A7A7;
    }
  }

  &--rounded {
    #{$input}__value {
      border-radius: 1000px;
    }
  }
}

.button {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 64px;
  padding: 3px 48px 0 48px;
  border: 1px solid $color_gray;
  border-radius: 1000px;
  background-color: transparent;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.05em;
  color: $color_text_blue;
  transition: border-color $time;

  &:hover {
    border-color: $color_blue;
  }
}

.button-like {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 64px;
  border: 1px solid $color_gray;
  border-radius: 1000px;
  background-color: transparent;
  text-decoration: none;
  cursor: pointer;
  transition: border-color $time;

  &:before, &:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    transition: opacity $time;
  }

  &:before {
    @include image('like-gray.svg', 20px auto, center);
  }

  &:after {
    @include image('like-blue.svg', 20px auto, center);
    opacity: 0;
  }

  &:hover {
    border-color: $color_blue;
  }

  &.active {
    border-color: $color_blue;
    
    &:before {
      opacity: 0;
    }
  
    &:after {
      opacity: 1;
    }
  }

  &--min {
    width: 34px;
    height: 34px;

    &:before, &:after {
      background-size: 12px auto;
    }
  }
}

.button-delete {
  @include image('delete-gray.svg', 17px auto, center);
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 64px;
  border: 1px solid $color_gray;
  border-radius: 1000px;
  background-color: transparent;
  text-decoration: none;
  cursor: pointer;
  transition: border-color $time;

  &--min {
    background-size: 12px auto;
    width: 34px;
    height: 34px;
  }

  &:hover {
    border-color: $color_blue;
  }
}

.button-inBasket {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  padding: 4px 30px 0 30px;
  border: none;
  border-radius: 1000px;
  background-color: $color_white;
  text-decoration: none;
  font-weight: 700;
  font-size: 10px;
  line-height: 12px;
  cursor: pointer;
}

.button-more {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 364px;
  height: 64px;
  padding: 3px 48px 0 48px;
  border: 1px dashed $color_gray;
  border-radius: 1000px;
  background-color: transparent;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.05em;
  color: $color_text_blue;
  transition: border-color $time;

  &:after {
    @include inline_block();
    @include image('arrow-down-blue.svg', content, center);
    width: 8px;
    height: 4px;
    margin: 0 0 3px 8px;
    content: '';
  }

  &:hover {
    border-color: $color_blue;
  }
}

.counter {
  $counter: &;
  position: relative;
  display: inline-flex;
  height: 64px;
  border: 1px solid $color_gray;
  border-radius: 1000px;

  &__minus, &__plus {
    position: relative;
    width: 56px;
    height: 100%;
    cursor: pointer;

    &:before, &:after {
      position: absolute;
      top: 50%;
      left: 50%;
      background-color: $color_blue;
      content: '';
    }
  }

  &__minus {
    border-right: 1px solid $color_gray;

    &:before {
      width: 6px;
      height: 2px;
      margin: -1px 0 0 -1px;
    }

    &:after {
      display: none;
    }
  }

  &__plus {
    border-left: 1px solid $color_gray;

    &:before {
      width: 8px;
      height: 2px;
      margin: -1px 0 0 -6px;
    }

    &:after {
      width: 2px;
      height: 8px;
      margin: -4px 0 0 -3px;
    }
  }

  &__input {
    position: relative;
    width: 86px;
    height: 100%;
    padding: 0 10px;
    border: none;
    background-color: transparent;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-weight: 700;
    font-size: 17px;
    line-height: 23px;
    color: $color_text_blue;
  }

  &--narrow {
    #{$counter}__minus, 
    #{$counter}__plus {
      width: 51px;
    }

    #{$counter}__input {
      width: 77px;
    }
  }

  &--min {
    height: 35px;

    #{$counter}__minus, 
    #{$counter}__plus {
      width: 30px;
    }

    #{$counter}__input {
      width: 47px;
      font-size: 13px;
    }
  }
}

.addition {
  $additionTime: 0.2s;
  $addition: &;
  position: relative;
  display: inline-flex;
  width: 34px;
  height: 34px;
  border: 1px solid $color_gray;
  border-radius: 1000px;
  transition: all $additionTime;
  overflow: hidden;

  &__minus, &__plus {
    position: absolute;
    top: 0;
    width: 34px;
    height: 100%;
    cursor: pointer;
    z-index: 1;
    transition: opacity $additionTime;

    &:before, &:after {
      position: absolute;
      top: 50%;
      left: 50%;
      background-color: $color_blue;
      content: '';
    }
  }

  &__minus {
    left: 0;
    opacity: 0;

    &:before {
      width: 6px;
      height: 1px;
      margin: 0 0 0 -5px;
    }

    &:after {
      display: none;
    }
  }

  &__plus {
    right: 0;

    &:before {
      width: 7px;
      height: 1px;
      margin: 0 0 0 -3px;
    }

    &:after {
      width: 1px;
      height: 7px;
      margin: -3px 0 0 0px;
    }
  }

  &__value {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 0 10px;
    border: none;
    background-color: transparent;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-weight: 400;
    font-size: 17px;
    line-height: 23px;
    color: $color_text_blue;
    transition: opacity $additionTime;
    opacity: 0;
  }

  &:hover {
    border-color: $color_blue;
  }

  &.active {
    width: 68px;
    border-color: $color_blue;

    #{$addition}__minus {
      opacity: 1;
    }

    #{$addition}__plus {
      opacity: 1;
    }

    #{$addition}__value {
      opacity: 1;
    }
  }
}

.info-new {
  position: absolute;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: 23px;
  padding: 2px 8px 0 8px;
  font-weight: 700;
  font-size: 9px;
  line-height: 12px;
  color: $color_text_blue;
  text-transform: uppercase;
  background-color: $color_white;
}

// .checkbox {
//   $checkbox: &;
//   $size: 20px;
//   $indent: 10px;
//   position: relative;
//   display: block;
//   min-height: $size;

//   label {
//     position: relative;
//     min-height: $size;
//     padding: 1px 0 0 $size + $indent;
//     color: #F9F9F9;
//     font-size: 16px;
//     line-height: 130%;
//     letter-spacing: -0.01em;
//     cursor: pointer;

//     &:before, &:after {
//       position: absolute;
//       top: 0;
//       left: 0;
//       width: $size;
//       height: $size;
//       content: '';
//     }
//     &:before {
//       box-shadow: 0 0 0 1px #7F8389 inset;
//       border-radius: 3px;
//     }
//     &:after {
//       @include image('icon-check-yellow.svg', 14px auto, 3px 5px);
//       display: none;
//     }
//   }

//   input {
//     position: absolute;
//     width: 0;
//     height: 0;

//     &:checked + label {
//       &:after {
//         display: block;
//       }
//     }
//   }

//   &--conditions {
//     line-height: 90%;
//     padding-left: $size + 20px;

//     input {
//       & + label {
//         @include inline_block();
//         font-size: 12px;
//         line-height: inherit;
//         padding: 0;

//         &:before, &:after {
//           left: -($size + 20px);
//         }
//       }
//     }

//     span, a {
//       @include inline_block();
//       color: #F9F9F9;
//       font-size: 12px;
//       line-height: inherit;
//       text-decoration: none;
//       letter-spacing: -0.01em;
//     }

//     a {
//       &:hover {
//         color: $color_text_yellow;
//       }
//     }
//   }

//   &--min {
//     input {
//       & + label {
//         padding: 3px 0 0 $size + 20px;
//         font-size: 12px;
//         line-height: 130%;
//       }
//     }
//   }
// }
