.logo {
  @include image('logo.svg', content, center);
  width: 120px;
  height: 40px;

  @media (max-width: $screen_lg) {
    @include image('logo-mobile-blue.svg', content, center);
    width: 72px;
    height: 27px;
  }
}

.title {
  @include block();

  h1, h2 {
    @include block();
    font-size: 60px;
    line-height: 60px;

    @media (max-width: $screen_lg) {
      font-size: 30px;
      line-height: 30px;
    }

    b {
      text-align: inherit;
      font-weight: 700;
      font-size: inherit;
      line-height: inherit;
      letter-spacing: -0.02em;
      color: inherit;
    }
  }

  &--max {
    h1, h2 {
      font-size: 120px;
      line-height: 120px;
    }
  }

  &--min {
    h1, h2 {
      font-size: 40px;
      line-height: 40px;
    }
  }

  &--small {
    h1, h2 {
      font-size: 30px;
      line-height: 30px;

      @media (max-width: $screen_lg) {
        font-size: 19px;
        line-height: 23px;
      }
    }
  }

  &--center {
    h1, h2 {
      text-align: center;
    }
  }
}

.delimiter {
  @include block();
  @include image('patterns/pattern-blue-1.svg', auto 100%, center);
  height: 46px;

  @media (max-width: $screen_lg) {
    height: 32px;
  }
  
  &:before, &:after {
    position: absolute;
    top: 50%;
    height: 1px;
    margin-top: -1px;
    background-color: $color_blue;
    content: '';
  }

  &:before {
    left: 0;
    right: calc(50% + 52px);  
    
    @media (max-width: $screen_lg) {
      right: calc(50% + 25px);  
    }
  }

  &:after {
    right: 0;
    left: calc(50% + 52px); 
    
    @media (max-width: $screen_lg) {
      left: calc(50% + 25px);  
    }
  }
}

.inputField {
  $input: &;
  @include block();

  &__title {
    @include block();
    margin-bottom: 5px;
    font-size: 17px;
    line-height: 19px;
    color: $color_text_blue;

    @media (max-width: $screen_lg) {
      margin-bottom: 0;
      font-size: 12px;
      line-height: 16px;
    }

    &--centre {
      text-align: center;

      @media (max-width: $screen_lg) {
        text-align: left;
      }
    }
  }

  &__box {
    @include block();

    &-error {
      position: relative;
      display: none;
      margin-top: 6px;
      font-family: 'Montserrat', sans-serif;
      font-weight: 400;
      text-align: center;
      font-size: 17px;
      line-height: 23px;
      color: #8C2C2C;

      @media (max-width: $screen_lg) {
        margin-top: 3px;
        font-size: 12px;
      }
    }

    &-templateInfo {
      @include block();
      margin-top: 2px;
      font-family: 'Montserrat', sans-serif;
      font-weight: 400;
      font-size: 19px;
      line-height: 23px;
      color: #A7A7A7;

      @media (max-width: $screen_lg) {
        margin-top: 0;
        font-size: 11px;
        line-height: 18px;
      }
    }

    &-currency {
      position: absolute;
      display: inline-flex;
      align-items: center;
      top: 0;
      right: 18px;
      height: 64px;
      font-family: 'Montserrat', sans-serif;
      font-weight: 400;
      font-size: 19px;
      line-height: 23px;
      color: $color_text_blue;
      user-select: none;

      @media (max-width: $screen_lg) {
        right: 15px;
        height: 50px;
        font-size: 11px;
        line-height: 23px;
      }
    }
  }

  &__value {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 64px;
    padding: 0 23px;
    background-color: $color_white;
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 19px;
    line-height: 23px;
    color: $color_text_blue;

    @media (max-width: $screen_lg) {
      height: 50px;
      padding: 0 15px;
      font-size: 11px;
    }

    &--centre {
      text-align: center;
    }

    &::placeholder { 
      color: #A7A7A7;
    }
  }

  &__template {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    min-height: 123px;
    padding: 17px 23px;
    background-color: $color_white;
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 19px;
    line-height: 23px;
    color: $color_text_blue;

    @media (max-width: $screen_lg) {
      font-size: 11px;
    }
  }

  &__select {
    @include image('arrow-down-blue.svg', 8px auto, right 22px center);
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 64px;
    padding: 0 23px;
    background-color: $color_white;
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 19px;
    line-height: 23px;
    color: $color_text_blue;
    cursor: pointer;

    @media (max-width: $screen_lg) {
      background-position: right 15px center;
      height: 50px;
      font-size: 11px;
      padding: 0 15px;
    }

    option {
      font-family: inherit;
      font-weight: inherit;
      font-size: inherit;
      line-height: inherit;
      color: inherit;
    }
  }

  &--rounded {
    #{$input}__value {
      border-radius: 1000px;
    }
  }

  &--sum {
    max-width: 234px;

    @media (max-width: $screen_lg) {
      max-width: 215px;
    }

    #{$input}__value {
      padding-right: 50px;

      @media (max-width: $screen_lg) {
        padding-right: 40px;
      }
    }
  }

  &.error {
    #{$input}__box-error {
      display: block;
    }

    #{$input}__value {
      box-shadow: 0 0 0 1px #8C2C2C inset;
    }
  }
}

.button {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 64px;
  padding: 3px 48px 0 48px;
  border: 1px solid $color_gray;
  border-radius: 1000px;
  background-color: transparent;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.05em;
  color: $color_text_blue;
  transition: border-color $time;

  @media (max-width: $screen_lg) {
    height: 50px;
    padding: 3px 30px 0 30px;
    font-size: 10px;
    line-height: 10px;
    letter-spacing: 0.07em;
  }

  @media (max-width: $screen_xs) {
    width: 100% !important;
    min-width: 0 !important;
    max-width: none !important;
  }

  &:hover {
    border-color: $color_blue;
  }
}

.button-like {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 64px;
  border: 1px solid $color_gray;
  border-radius: 1000px;
  background-color: transparent;
  text-decoration: none;
  cursor: pointer;
  transition: border-color $time;

  &:before, &:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    transition: opacity $time;
  }

  &:before {
    @include image('like-gray.svg', 20px auto, center);
  }

  &:after {
    @include image('like-blue.svg', 20px auto, center);
    opacity: 0;
  }

  &:hover {
    border-color: $color_blue;
  }

  &.active {
    border-color: $color_blue;
    
    &:before {
      opacity: 0;
    }
  
    &:after {
      opacity: 1;
    }
  }

  &--min {
    width: 34px;
    height: 34px;

    &:before, &:after {
      background-size: 12px auto;
    }
  }
}

.button-delete {
  @include image('delete-gray.svg', 17px auto, center);
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 64px;
  border: 1px solid $color_gray;
  border-radius: 1000px;
  background-color: transparent;
  text-decoration: none;
  cursor: pointer;
  transition: border-color $time;

  @media (max-width: $screen_lg) {
    background-size: 8px auto;
    width: 22px;
    height: 22px;
  }

  &--min {
    background-size: 12px auto;
    width: 34px;
    height: 34px;

    @media (max-width: $screen_lg) {
      background-size: 8px auto;
      width: 22px;
      height: 22px;
    }
  }

  &:hover {
    border-color: $color_blue;
  }
}

.button-inBasket {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  padding: 4px 30px 0 30px;
  border: none;
  border-radius: 1000px;
  background-color: $color_white;
  text-decoration: none;
  font-weight: 700;
  font-size: 10px;
  line-height: 12px;
  cursor: pointer;
}

.button-more {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 364px;
  height: 64px;
  padding: 3px 48px 0 48px;
  border: 1px dashed $color_gray;
  border-radius: 1000px;
  background-color: transparent;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.05em;
  color: $color_text_blue;
  transition: border-color $time;

  &:after {
    @include inline_block();
    @include image('arrow-down-blue.svg', content, center);
    width: 8px;
    height: 4px;
    margin: 0 0 3px 8px;
    content: '';
  }

  &:hover {
    border-color: $color_blue;
  }
}

.counter {
  $counter: &;
  position: relative;
  display: inline-flex;
  height: 64px;
  border: 1px solid $color_gray;
  border-radius: 1000px;

  @media (max-width: $screen_lg) {
    height: 23px;
  }

  &__minus, &__plus {
    position: relative;
    width: 56px;
    height: 100%;
    cursor: pointer;

    &:before, &:after {
      position: absolute;
      top: 50%;
      left: 50%;
      background-color: $color_blue;
      content: '';
    }
  }

  &__minus {
    border-right: 1px solid $color_gray;

    &:before {
      width: 6px;
      height: 2px;
      margin: -1px 0 0 -1px;
    }

    &:after {
      display: none;
    }
  }

  &__plus {
    border-left: 1px solid $color_gray;

    &:before {
      width: 8px;
      height: 2px;
      margin: -1px 0 0 -6px;
    }

    &:after {
      width: 2px;
      height: 8px;
      margin: -4px 0 0 -3px;
    }
  }

  &__input {
    position: relative;
    width: 86px;
    height: 100%;
    padding: 0 10px;
    border: none;
    background-color: transparent;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-weight: 700;
    font-size: 17px;
    line-height: 23px;
    color: $color_text_blue;
  }

  &--narrow {
    #{$counter}__minus, 
    #{$counter}__plus {
      width: 51px;

      @media (max-width: $screen_lg) {
        width: 20px;
      }
    }

    #{$counter}__minus {
      @media (max-width: $screen_lg) {
        &:before {
          width: 5px;
          height: 1px;
          margin: -1px 0 0 -2px;
        }
      }
    } 

    #{$counter}__plus {
      @media (max-width: $screen_lg) {
        &:before {
          width: 5px;
          height: 1px;
          margin: -1px 0 0 -4px;
        }
        &:after {
          width: 1px;
          height: 5px;
          margin: -3px 0 0 -2px;
        }
      }
    }

    #{$counter}__input {
      width: 77px;

      @media (max-width: $screen_lg) {
        width: 28px;
        font-weight: 400;
        font-size: 11px;
        line-height: 11px;
      }
    }
  }

  &--min {
    height: 35px;

    @media (max-width: $screen_lg) {
      height: 23px;
    }

    #{$counter}__minus, 
    #{$counter}__plus {
      width: 30px;

      @media (max-width: $screen_lg) {
        width: 20px;
      }
    }

    #{$counter}__minus {
      @media (max-width: $screen_lg) {
        &:before {
          width: 5px;
          height: 1px;
          margin: -1px 0 0 -2px;
        }
      }
    }

    #{$counter}__plus {
      @media (max-width: $screen_lg) {
        &:before {
          width: 5px;
          height: 1px;
          margin: -1px 0 0 -4px;
        }
        &:after {
          width: 1px;
          height: 5px;
          margin: -3px 0 0 -2px;
        }
      }
    }

    #{$counter}__input {
      width: 47px;
      font-size: 13px;

      @media (max-width: $screen_lg) {
        width: 28px;
        font-weight: 400;
        font-size: 11px;
        padding: 1px 2px 0 2px;
      }
    }
  }
}

.addition {
  $additionTime: 0.2s;
  $addition: &;
  position: relative;
  display: inline-flex;
  width: 34px;
  height: 34px;
  border: 1px solid $color_gray;
  border-radius: 1000px;
  transition: all $additionTime;
  overflow: hidden;

  &__minus, &__plus {
    position: absolute;
    top: 0;
    width: 34px;
    height: 100%;
    cursor: pointer;
    z-index: 1;
    transition: opacity $additionTime;

    &:before, &:after {
      position: absolute;
      top: 50%;
      left: 50%;
      background-color: $color_blue;
      content: '';
    }
  }

  &__minus {
    left: 0;
    opacity: 0;

    &:before {
      width: 6px;
      height: 1px;
      margin: 0 0 0 -5px;
    }

    &:after {
      display: none;
    }
  }

  &__plus {
    right: 0;

    &:before {
      width: 7px;
      height: 1px;
      margin: 0 0 0 -3px;
    }

    &:after {
      width: 1px;
      height: 7px;
      margin: -3px 0 0 0px;
    }
  }

  &__value {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 0 10px;
    border: none;
    background-color: transparent;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-weight: 400;
    font-size: 17px;
    line-height: 23px;
    color: $color_text_blue;
    transition: opacity $additionTime;
    opacity: 0;
  }

  &:hover {
    border-color: $color_blue;
  }

  &.active {
    width: 68px;
    border-color: $color_blue;

    #{$addition}__minus {
      opacity: 1;
    }

    #{$addition}__plus {
      opacity: 1;
    }

    #{$addition}__value {
      opacity: 1;
    }
  }
}

.info-new {
  position: absolute;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: 23px;
  padding: 2px 8px 0 8px;
  font-weight: 700;
  font-size: 9px;
  line-height: 12px;
  color: $color_text_blue;
  text-transform: uppercase;
  background-color: $color_white;
}

.deployBox {
  $deploy: &;
  @include block();

  &__cont {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    user-select: none;
  }

  &__button {
    position: relative;
    width: 40px;
    height: 40px;
    border: 1px solid $color_gray;
    border-radius: 1000px;
    transition: border-color $time;

    &:before {
      @include image('arrow-down-blue.svg', 8px auto, center);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      content: '';
      transition: transform 0.2s;
    }

    &:hover {
      border-color: $color_blue;
    }
  }

  &__value {
    position: relative;
    padding-left: 8px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-weight: 400;
    font-size: 19px;
    line-height: 23px;
    color: $color_text_blue;
  }

  &.active {
    #{$deploy}__button {
      &:before {
        transform: rotate(180deg);
      }
    }

    #{$deploy}__value {
      display: none;
    }
  }
}

.radio {
  $radio: &;
  $size: 28px;
  position: relative;
  display: block;
  min-height: $size;

  label {
    position: relative;
    min-height: $size;
    padding: 3px 0 0 $size + 9px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 19px;
    line-height: 23px;
    color: $color_text_blue;
    cursor: pointer;

    &:before, &:after {
      position: absolute;
      top: 0;
      left: 0;
      width: $size;
      height: $size;
      border-radius: 1000px;
      content: '';
    }
    &:before {
      border: 1px solid $color_gray;
    }
    &:after {
      top: 8px;
      left: 8px;
      width: 14px;
      height: 14px;
      background-color: $color_gray;
    }
  }

  input {
    position: absolute;
    width: 0;
    height: 0;

    &:checked + label {
      &:before {
        border-color: $color_blue;
      }
      &:after {
        background-color: $color_blue;
      }
    }
  }
}

.denomination {
  @include block();

  &__title {
    @include block();
    margin-bottom: 4px;
    font-size: 17px;
    line-height: 19px;
    color: $color_text_blue;

    @media (max-width: $screen_lg) {
      font-size: 12px;
      line-height: 19px;
    }
  }

  &__block {
    @include flex();

    @media (max-width: $screen_lg) {
      flex-wrap: wrap;
    }
  }

  &__box {
    $radio: &;
    position: relative;
    display: block;

    &:not(:last-child) {
      margin-right: 10px;
      margin-bottom: 10px;
    }

    label {
      position: relative;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      min-width: 112px;
      height: 64px;
      padding: 3px 8px;
      background-color: $color_white;
      font-family: 'Montserrat', sans-serif;
      font-weight: 400;
      font-size: 19px;
      line-height: 23px;
      color: $color_text_blue;
      cursor: pointer;
      user-select: none;

      @media (max-width: $screen_lg) {
        min-width: 65px;
        height: 50px;
        padding: 3px 6px;
        font-size: 11px;
        line-height: 23px;
      }
    }

    input {
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 0;
  
      &:checked + label {
        box-shadow: 0 0 0 1px #1F5186;
      }
    }
  }
}

.colors {
  @include block();

  &__title {
    @include block();
    margin-bottom: 4px;
    font-size: 17px;
    line-height: 19px;
    color: $color_text_blue;

    @media (max-width: $screen_lg) {
      font-size: 12px;
      line-height: 19px;
    }
  }

  &__block {
    @include flex();

    @media (max-width: $screen_lg) {
      flex-wrap: wrap;
    }
  }

  &__box {
    $radio: &;
    position: relative;
    display: block;

    &:not(:last-child) {
      margin-right: 10px;
      margin-bottom: 10px;
    }

    label {
      @include block();
      width: 64px;
      height: 64px;
      background-color: $color_white;
      cursor: pointer;
      user-select: none;
    }

    input {
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 0;
  
      &:checked + label {
        box-shadow: 0 0 0 2px #fff, 0 0 0 3px #1F5186;
      }
    }

    &--orange label {
      background-color: #DB9D27;
    }
    &--blue label {
      background-color: #2C3B8C;
    }
    &--red label {
      background-color: #E7533B;
    }
    &--blueLight label {
      background-color: #6678D6;
    }
    &--transparent label {
      background-color: transparent;
      border: 1px solid #C4C4C4;
    }
    &--white label {
      background-color: #fff;
      border: 1px solid #C4C4C4;
    }
  }
}

// .checkbox {
//   $checkbox: &;
//   $size: 20px;
//   $indent: 10px;
//   position: relative;
//   display: block;
//   min-height: $size;

//   label {
//     position: relative;
//     min-height: $size;
//     padding: 1px 0 0 $size + $indent;
//     color: #F9F9F9;
//     font-size: 16px;
//     line-height: 130%;
//     letter-spacing: -0.01em;
//     cursor: pointer;

//     &:before, &:after {
//       position: absolute;
//       top: 0;
//       left: 0;
//       width: $size;
//       height: $size;
//       content: '';
//     }
//     &:before {
//       box-shadow: 0 0 0 1px #7F8389 inset;
//       border-radius: 3px;
//     }
//     &:after {
//       @include image('icon-check-yellow.svg', 14px auto, 3px 5px);
//       display: none;
//     }
//   }

//   input {
//     position: absolute;
//     width: 0;
//     height: 0;

//     &:checked + label {
//       &:after {
//         display: block;
//       }
//     }
//   }
// }
