.faq {
  $about: &;
  @include block();
  padding: 38px 0 295px 0;

  @media (max-width: $screen_lg) {
    padding: 40px 0 140px 0;
  }

  .patterns__box {
    &:nth-child(1) {
      @include image('patterns/faq/pattern-1.svg', 298px auto, left 0 bottom 20px);
    }
    &:nth-child(2) {
      @include image('patterns/faq/pattern-2.svg', 298px auto, left 0 bottom 20px);
    }
    &:nth-child(3) {
      @include image('patterns/faq/pattern-3.svg', 298px auto, left 0 bottom 20px);
    }

    @media (max-width: $width_max) {
      background-size: 200px auto !important;
    }

    @media (max-width: $screen_lg) {
      display: none;
    }
  }

  &__row {
    @include flex();

    @media (max-width: $screen_lg) {
      display: block;
    }
  }

  &__col {
    position: relative;

    &:nth-child(1) {
      width: 34%;
      min-height: 800px;
      padding-top: 5px;

      @media (max-width: $screen_lg) {
        display: block;
        width: auto;
        min-height: auto;
        padding-top: 0;
      }
    }

    &:nth-child(2) {
      flex: 1;

      @media (max-width: $screen_lg) {
        flex: auto;
      }
    }
  }

  &__block {
    @include block();

    @media (max-width: $screen_lg) {
      margin-top: 36px;
    }
  }

  &__box {
    @include block();

    @media (min-width: $screen_lg + 1px) {
      &:not(:last-child) {
        border-bottom: 1px solid $color_gray;
        padding-bottom: 22px;
        margin-bottom: 30px;
      }
    }

    @media (max-width: $screen_lg) {
      border-top: 1px solid $color_gray;
      padding-top: 28px;
      padding-bottom: 0;
      margin-bottom: 30px;
    }
    
    &-title {
      @include block();
      margin-bottom: 15px;

      @media (max-width: $screen_lg) {
        margin-bottom: 14px;
      }

      h3, a {
        font-size: 30px;
        line-height: 36px;

        @media (max-width: $screen_lg) {
          font-size: 21px;
          line-height: 24px;
        }
      }

      a {
        text-decoration: none;
      }
    }

    &-text {
      @include block();

      p {
        margin-bottom: 15px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 19px;
        line-height: 24px;

        @media (max-width: $screen_lg) {
          font-size: 13px;
          line-height: 18px;
          margin-bottom: 10px;
        }
      }
    }
  }
}
