.hFooter {
  height: $footer_height;

  @media (max-width: $screen_lg) {
    height: $footer_height_mobile;
  }
}

.footer {
  $footer: &;
  @include block();
  height: $footer_height;
  margin-top: -$footer_height;

  @media (max-width: $screen_lg) {
    height: $footer_height_mobile;
    margin-top: -$footer_height_mobile;
  }

  .patterns {
    $pat: '.patterns';

    &__left {
      #{$pat}__box {
        &:nth-child(1) {
          @include image('patterns/footer/left-1.svg', 146px auto, left 0 bottom);
        }
        &:nth-child(2) {
          @include image('patterns/footer/left-2.svg', 146px auto, left 0 bottom);
        }
  
        @media (max-width: $screen_xl) {
          background-size: 100px auto !important;
        }
  
        @media (max-width: $screen_lg) {
          display: none;
        }
      }
  
      @media (max-width: $screen_lg) {
        @include image('patterns/footer/footer-1.svg', auto 111px, top);
      }
    }

    &__right {  
      #{$pat}__box {
        &:nth-child(1) {
          @include image('patterns/footer/right-1.svg', 365px auto, right 0 bottom);
        }
        &:nth-child(2) {
          @include image('patterns/footer/right-2.svg', 365px auto, right 0 bottom);
        }
        &:nth-child(3) {
          @include image('patterns/footer/right-3.svg', 365px auto, right 0 bottom);
        }
        &:nth-child(4) {
          @include image('patterns/footer/right-4.svg', 365px auto, right 0 bottom);
        }
  
        @media (max-width: $screen_xl) {
          background-size: 260px auto !important;
        }
  
        @media (max-width: $screen_lg) {
          display: none;
        }
      }
  
      @media (max-width: $screen_lg) {
        @include image('patterns/footer/footer-2.svg', auto 109px, bottom);
      }
    }

    @media (max-width: $screen_lg) {
      display: block;
    }
  }

  &__row {
    @include flex();
    border-top: 1px solid $color_gray;

    @media (max-width: $screen_lg) {
      border-top: none;
      flex-direction: column;
    }
  }

  &__col {
    @include flex();
    flex-direction: column;

    &:nth-child(1) {
      padding-top: 159px;
      min-width: 310px;

      @media (max-width: $screen_lg) {
        order: 1;
        min-width: auto;
        padding-top: 328px;
      }
    }

    &:nth-child(2) {
      flex: 1;
      padding-top: 160px;

      @media (max-width: $screen_lg) {
        order: 0;
        padding-top: 146px;
      }
    }
  }

  &__logo {
    @include image('logo.svg', content, center);
    width: 120px;
    height: 40px;

    @media (max-width: $screen_lg) {
      margin: 0 auto;
    }
  } 

  &__menu {
    @include block();
    margin-top: 75px;

    @media (max-width: $screen_lg) {
      margin-top: 45px;
    }

    li {
      @include block();

      @media (max-width: $screen_lg) {
        text-align: center;
      }

      &:not(:last-child) {
        margin-bottom: 12px;
      }
    }

    a {
      font-size: 20px;
      line-height: 24px;
      text-decoration: none;

      &:after {
        position: absolute;
        width: 0;
        left: 0;
        bottom: 3px;
        height: 1px;
        content: '';
        background-color: $color_text_blue;
        transition: width 0.3s ease;
      }

      &:hover {
        &:after {
          width: 100%;
        }
      }
    }
  }

  &__info {
    @include block();
    margin-bottom: 7px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;

    @media (max-width: $screen_lg) {
      max-width: 260px;
      top: 196px;
      margin: 0px auto 0 auto;
      text-align: center;
      line-height: 20px;
    }
  }

  &__link {
    @include block();

    @media (max-width: $screen_lg) {
      text-align: center;
      height: 0;
    }

    a {
      font-size: 120px;
      line-height: 110px;
      text-decoration: none;

      span {
        font-size: inherit;
        line-height: inherit;
      }

      @media (max-width: $screen_xl) {
        font-size: 90px;
        line-height: 80px;
      }
  
      @media (max-width: $screen_lg) {
        font-size: 70px;
        line-height: 60px;
  
        span {
          display: block;
          text-align: center;
        }
      }
    }
  }

  &__copyright {
    @include block();
    margin: auto 0 0 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;

    @media (max-width: $screen_lg) {
      display: none;
    }
  }

  &__copyrightMobile {
    position: relative;
    display: none;
    margin-top: 45px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    color: $color_text_gray;

    @media (max-width: $screen_lg) {
      display: block;
    }
  }
}
