.homeReviews {
  @include block();
  margin-top: 253px;

  &__row {
    @include flex();
  }

  &__col {
    position: relative;

    &:nth-child(1) {
      width: 42.5%;
    }

    &:nth-child(2) {
      width: 57.5%;
      padding-top: 23px;
    }

    .title {
      max-width: 500px;
    }
  }

  &__box {
    @include block();
    margin-bottom: 75px;

    &-info {
      @include block();
      margin-bottom: 24px;
      font-family: 'Montserrat', sans-serif;
      font-weight: 500;
      font-size: 14px;
      line-height: 12px;
      letter-spacing: 0.05em;
      text-transform: uppercase;

      a {
        font-family: inherit;
        font-weight: inherit;
        font-size: inherit;
        line-height: inherit;
        letter-spacing: inherit;
        text-transform: inherit;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    &-description {
      @include block();

      p {
        font-size: 30px;
        line-height: 36px;
      }

      b {
        font-weight: 700;
        font-size: inherit;
        line-height: inherit;
      }

      a {
        font-weight: 700;
        font-size: inherit;
        line-height: inherit;
        text-decoration: none;
      }
    }
  }
}
