.homeReviews {
  @include block();
  margin-top: 253px;

  @media (max-width: $screen_lg) {
    margin-top: 132px;
  }

  &__row {
    @include flex();

    @media (max-width: $screen_lg) {
      display: block;
    }
  }

  &__col {
    position: relative;

    &:nth-child(1) {
      width: 42.5%;
      min-width: 480px;

      @media (max-width: $screen_xl) {
        min-width: 350px;
      }

      @media (max-width: $screen_lg) {
        display: block;
        width: auto;
        min-width: auto;
        margin-bottom: 32px;
      }
    }

    &:nth-child(2) {
      flex: 1;
      padding-top: 23px;

      @media (max-width: $screen_lg) {
        display: block;
        width: auto;
        padding-top: 0;
        flex: auto;
      }
    }

    .title {
      max-width: 500px;

      @media (max-width: $screen_xl) {
        max-width: 400px;

        h1, h2 {
          font-size: 80px;
          line-height: 80px;
        }
      }

      @media (max-width: $screen_lg) {
        max-width: 260px;

        h1, h2 {
          font-size: 60px;
          line-height: 55px;
        }
      }
    }
  }

  &__box {
    @include block();
    margin-bottom: 75px;

    @media (max-width: $screen_lg) {
      margin-bottom: 34px;
    }

    &-info {
      @include block();
      margin-bottom: 24px;
      font-family: 'Montserrat', sans-serif;
      font-weight: 500;
      font-size: 14px;
      line-height: 12px;
      letter-spacing: 0.05em;
      text-transform: uppercase;

      @media (max-width: $screen_lg) {
        margin-bottom: 14px;
        font-size: 12px;
        line-height: 16px;
      }

      a {
        font-family: inherit;
        font-weight: inherit;
        font-size: inherit;
        line-height: inherit;
        letter-spacing: inherit;
        text-transform: inherit;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    &-description {
      @include block();

      p {
        font-size: 30px;
        line-height: 36px;

        @media (max-width: $screen_lg) {
          font-size: 19px;
          line-height: 23px;
        }
      }

      b {
        font-weight: 700;
        font-size: inherit;
        line-height: inherit;
      }

      a {
        font-weight: 700;
        font-size: inherit;
        line-height: inherit;
        text-decoration: none;
      }
    }
  }

  &__cont {
    @include block();
    overflow: hidden;

    &:after {
      position: absolute;
      display: none;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 51px;
      content: '';
      background: linear-gradient(180deg, rgba(246, 245, 241, 0) 0%, #F6F5F1 100%);
      transition: opacity 0.15s;
    }

    @media (max-width: $screen_lg) {
      height: 360px;

      &:after {
        display: block;
      }
    }

    @media (min-width: $screen_lg + 1px) {
      height: auto !important;
    }

    &.open {
      &:after {
        opacity: 0;
      }
    }
  }

  &__block {
    @include block();
  }

  &__button {
    position: relative;
    display: none;
    margin-top: 30px;

    @media (max-width: $screen_lg) {
      display: block;
    }
  }
}
