.homeCatalog {
  @include block();
  margin-top: 252px;

  @media (max-width: $screen_lg) {
    margin-top: 120px;
  }
  
  &__block {
    @include block();
  }

  &__box {
    $box: &;
    @include flex();

    @media (max-width: $screen_lg) {
      display: block;
      margin-bottom: 90px !important;
    }

    &-img {
      @include flex();
      justify-content: flex-end;
      width: 50%;

      @media (max-width: $screen_lg) {
        display: block;
        width: auto !important;
        left: -15px;
      }

      a {
        text-decoration: none;

        @media (max-width: $screen_lg) {
          top: auto !important;
          left: auto !important;
          right: auto !important;
        }
      }

      img {
        max-width: 100%;

        @media (max-width: $screen_lg) {
          max-width: 100% !important;
        }
      }
    }

    &-cont {
      position: relative;
    }

    &-type {
      @include block();
      margin-bottom: 65px;
      font-family: 'Montserrat', sans-serif;
      font-weight: 500;
      font-size: 14px;
      line-height: 12px;
      letter-spacing: 0.05em;
      text-transform: uppercase;

      @media (max-width: $screen_lg) {
        display: none;
      }
    }

    &-name {
      @include inline_block();
      max-width: 400px;
      margin-bottom: 1px;

      @media (max-width: $screen_lg) {
        margin-bottom: 10px !important;
      }

      a {
        font-size: 60px;
        line-height: 60px;
        text-decoration: none;

        @media (max-width: $screen_lg) {
          font-size: 30px;
          line-height: 30px;
        }

        b, strong {
          font-weight: 700;
          font-size: inherit;
          line-height: inherit;
        }
  
        b {
          @include block();
        }
      }
    }

    &-price {
      @include block();
      font-family: 'Montserrat', sans-serif;
      font-weight: 400;
      font-size: 19px;
      line-height: 24px;
      color: $color_text_blue;

      @media (max-width: $screen_lg) {
        font-size: 15px;
        line-height: 23px;
      }
    }

    &-description {
      @include block();
      max-width: 470px;
      margin-top: 47px;

      @media (max-width: $screen_lg) {
        max-width: none;
        margin-top: 20px;
      }

      p {
        font-size: 30px;
        line-height: 36px;

        @media (max-width: $screen_lg) {
          font-size: 19px;
          line-height: 23px;
        }
      }
    }

    &:nth-child(1) {
      margin-bottom: 73px;
    }
    
    &:nth-child(2) {
      margin-bottom: 50px;
    }

    &:nth-child(3n+1) {
      #{$box}-img {
        width: 59.5%;

        a {
          top: -3px;
          right: -48px;
        }

        img {
          max-width: 766px;
        }
      }
    }

    &:nth-child(3n+2) {
      #{$box}-img {
        width: 25.5%;

        a {
          top: -40px;
          right: 5px;
        }

        img {
          max-width: 260px;
        }
      }

      #{$box}-type {
        margin-bottom: 50px;
      }

      #{$box}-name {
        margin-bottom: 12px;
      }
    }

    &:nth-child(3n+0) {
      #{$box}-img {
        width: 42.6%;

        a {
          top: -45px;
          right: 20px;
        }

        img {
          max-width: 250px;
        }
      }

      #{$box}-type {
        margin-bottom: 50px;
      }

      #{$box}-name {
        margin-bottom: 20px;
      }
    }
  }

  &__button {
    @include flex();
    margin-top: 60px;
    padding-left: 42%;

    @media (max-width: $screen_lg) {
      display: block;
      max-width: 400px;
      margin: 0 auto;
      padding-left: 0;
    }

    .button {
      margin: 0 7px;

      @media (max-width: $screen_lg) {
        width: 100%;
        margin: 4px 0;
        height: 49px;
      }
    }
  }
}
