.mainPreview {
  @include block();
  height: 2045px;
  margin-top: -$header_height;

  @media (max-width: $screen_lg) {
    height: auto;
  }

  #{$cont} {
    height: 100%;
  }

  &__fon {
    @include image('main-preview/fon.jpg', auto 1984px, top, repeat-x);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    &-desk {
      @include block();
      width: 100%;
      max-width: 1245px;
      margin: 472px auto 0 auto;
    }
  }

  &__block {
    @include flex();
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    &-top {
      @include block();
      margin-top: 202px;
      text-align: center;

      @media (max-width: $screen_lg) {
        margin-top: 600px;
      }

      .title {
        max-width: 550px;
        margin: 0 auto 30px auto;

        @media (max-width: $screen_lg) {
          max-width: 280px;
        }
      }
    }

    &-bottom {
      @include block();
      width: 100%;
      max-width: 920px;
      margin: 0 auto;

      &:before, &:after {
        position: absolute;
        content: '';
      }
    
      &:before {
        @include image('patterns/pattern-1.svg', content, center);
        top: 5px;
        left: 2px;
        width: 220px;
        height: 220px;
      }
    
      &:after {
        @include image('patterns/pattern-2.svg', content, center);
        top: 130px;
        right: 12px;
        width: 146px;
        height: 247px;
      }

      .title {
        text-align: center;
        max-width: 550px;
        margin: 54px auto 0 auto;
      }

      .delimiter {
        max-width: 626px;
        margin: 28px auto 37px auto;
      }
    }

    &-button {
      @include flex();
      justify-content: center;

      @media (max-width: $screen_sm) {
        flex-direction: column;
      }

      .button {
        margin: 0 7px;

        @media (max-width: $screen_sm) {
          margin: 0 0 8px 0;
        }
      }
    }

    &-info {
      @include block(center);
      margin-bottom: 29px;
      font-family: 'Montserrat', sans-serif;
      font-weight: 500;
      font-size: 14px;
      line-height: 12px;
      letter-spacing: 0.05em;
      color: $color_text_blue;
      text-transform: uppercase;
    }

    &-text {
      @include block();
      max-width: 746px;
      margin: 0 auto;

      p {
        text-align: center;
        font-size: 30px;
        line-height: 36px;
      }

      b, a {
        font-weight: 700;
        font-size: inherit;
        line-height: inherit;
      }

      a {
        text-decoration: none;
      }
    }
  }
}
