.mainPreview {
  @include block();
  height: 2045px;
  margin-top: -$header_height;

  @media (max-width: $screen_lg) {
    margin-top: -$header_height_mobile;
    height: auto;
  }

  #{$cont} {
    height: 100%;
  }

  &__fon {
    @include image('main-preview/fon.jpg', auto 1984px, top, repeat-x);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    @media (max-width: $screen_lg) {
      @include image('main-preview/fon-mobile.jpg', auto 461px, top, repeat-x);
    }

    &-desk {
      @include block();
      width: 100%;
      max-width: 1245px;
      margin: 472px auto 0 auto;

      @media (max-width: $screen_lg) {
        margin-top: 100px;
        width: 100%;
        max-width: 500px;
      }

      @media (max-width: $screen_xs) {
        margin-top: 82px;
        max-width: 300px;
      }
    }
  }

  &__block {
    @include flex();
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    &-top {
      @include block();
      margin-top: 202px;
      text-align: center;

      @media (max-width: $screen_lg) {
        margin-top: 450px;
      }

      @media (max-width: $screen_xs) {
        margin-top: 283px;
      }

      .title {
        max-width: 550px;
        margin: 0 auto 30px auto;

        @media (max-width: $screen_lg) {
          max-width: 280px;
        }

        @media (max-width: $screen_xs) {
          margin-bottom: 12px;
        }
      }
    }

    &-bottom {
      @include block();
      width: 100%;
      max-width: 920px;
      margin: 0 auto;

      @media (max-width: $screen_lg) {
        margin-top: 116px;
      }

      &:before, &:after {
        position: absolute;
        content: '';
      }
    
      &:before {
        @include image('patterns/pattern-1.svg', content, center);
        top: 5px;
        left: 2px;
        width: 220px;
        height: 220px;

        @media (max-width: $screen_lg) {
          @include image('patterns/pattern-10.svg', content, center);
          top: -48px;
          left: -15px;
          width: 78px;
          height: 78px;
        }
      }
    
      &:after {
        @include image('patterns/pattern-2.svg', content, center);
        top: 130px;
        right: 12px;
        width: 146px;
        height: 247px;

        @media (max-width: $screen_lg) {
          top: 105px;
          right: -15px;
          width: 52px;
          height: 100px;
        }
      }

      .title {
        text-align: center;
        max-width: 550px;
        margin: 54px auto 0 auto;

        @media (max-width: $screen_lg) {
          max-width: 270px;
          margin-top: 0;
        }
      }

      .delimiter {
        max-width: 626px;
        margin: 28px auto 37px auto;

        @media (max-width: $screen_lg) {
          margin: 19px auto 31px auto;
        }
      }
    }

    &-button {
      @include flex();
      justify-content: center;

      @media (max-width: $screen_lg) {
        flex-direction: column;
        max-width: 400px;
        margin: 0 auto;
      }

      @media (max-width: $screen_xs) {
        max-width: 180px;
      }

      .button {
        margin: 0 7px;

        @media (max-width: $screen_lg) {
          margin: 0 0 8px 0;
        }

        @media (max-width: $screen_xs) {
          max-width: 180px;
          height: 36px;
          font-size: 10px;
          line-height: 10px;
          padding-left: 10px;
          padding-right: 10px;
        }
      }
    }

    &-info {
      @include block(center);
      margin-bottom: 29px;
      font-family: 'Montserrat', sans-serif;
      font-weight: 500;
      font-size: 14px;
      line-height: 12px;
      letter-spacing: 0.05em;
      color: $color_text_blue;
      text-transform: uppercase;

      @media (max-width: $screen_lg) {
        max-width: 200px;
        margin: 0 auto 27px auto;
        font-size: 12px;
        line-height: 16px;
      }
    }

    &-text {
      @include block();
      max-width: 746px;
      margin: 0 auto;

      @media (max-width: $screen_lg) {
        max-width: 280px;
      }

      p {
        text-align: center;
        font-size: 30px;
        line-height: 36px;

        @media (max-width: $screen_lg) {
          font-size: 19px;
          line-height: 23px;
        }
      }

      b, a {
        display: inline;
        font-weight: 700;
        font-size: inherit;
        line-height: inherit;
      }

      a {
        text-decoration: none;
      }
    }
  }
}
