.noPage {
  @include block();
  padding: 60px 0 215px;

  @media (max-width: $screen_lg) {
    padding: 100px 0 180px;
  }

  .patterns__box {
    width: auto;
    left: 25px;
    right: 25px;

    @media (max-width: $width_max) {
      left: 0;
      right: 0;
    }

    @media (max-width: $screen_lg) {
      display: none;
    }

    &:nth-child(1) {
      @include image('patterns/no-page/pattern-1.svg', content, bottom);
    }
    &:nth-child(2) {
      @include image('patterns/no-page/pattern-2.svg', content, bottom);
    }
    &:nth-child(3) {
      @include image('patterns/no-page/pattern-3.svg', content, bottom);
    }
    &:nth-child(4) {
      @include image('patterns/no-page/pattern-4.svg', content, bottom);
    }
    &:nth-child(5) {
      @include image('patterns/no-page/pattern-5.svg', content, bottom);
    }
  }

  &__block {
    @include block();
    padding-bottom: 590px;

    @media (max-width: $width_max) {
      max-width: 900px;
      margin: 0 auto;
      padding-bottom: 470px;
      background-size: 100% auto;      
    }

    @media (max-width: $screen_lg) {
      padding-bottom: 0;
    }
  }

  &__button {
    @include block(center);
    margin-top: 25px;

    @media (max-width: $screen_lg) {
      margin-top: 20px;
    }

    .button {
      min-width: 408px;

      @media (max-width: $screen_lg) {
        min-width: 290px;
      }
    }
  }
}
