.ordering {
  $ordering: &;
  @include block();
  padding: 38px 0 248px 0;
  
  &__form {
    @include block();
    margin-top: 82px;
  }

  &__title {
    @include block();
    margin-bottom: 37px;

    h2 {
      font-size: 44px;
      line-height: 44px;
    }
  }

  &__row {
    @include flex();
    margin-left: -14px;
    margin-right: -14px;
    margin-bottom: 20px;

    &--double {
      #{$ordering}__col {
        width: 50%;
      }
    }
  }

  &__col {
    position: relative;
    width: 33.33%;
    padding-left: 14px;
    padding-right: 14px;
  }

  &__whom {
    @include block();
    margin-bottom: 89px;

    &-radio {
      @include block();
      margin-bottom: 31px;

      .radio:not(:last-child) {
        margin-bottom: 7px;
      }
    }
  }

  &__where {
    @include block();
    margin-bottom: 83px;
  }

  &__delivery {
    @include block();
    margin-bottom: 118px;

    &-block {
      @include block();
    }

    &-box {
      @include flex();
      min-height: 177px;
      border: 1px solid $color_gray;
      padding: 31px 0 0 418px;
      margin-bottom: 28px;
      transition: border-color 0.05s;

      .radio {
        position: absolute;
        top: 40px;
        left: 48px;

        label {
          font-family: 'ArsenicaText', serif;
          font-size: 30px;
          line-height: 19px;
          padding-left: 41px;
        }
      }

      &.active {
        border-color: $color_blue;
      }
    }

    &-cont {
      @include block();

      p {
        margin-bottom: 17px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 19px;
        line-height: 23px;
        color: $color_text_blue;
      }

      a {
        margin-top: 10px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 19px;
        line-height: 23px;
        color: $color_text_blue;

        &:hover {
          text-decoration: none;
        }
      }
    }

    &-price {
      position: absolute;
      top: 29px;
      right: 26px;
      font-family: 'Montserrat', sans-serif;
      font-weight: 400;
      font-size: 30px;
      line-height: 23px;
      color: $color_text_blue;
    }
  }

  &__goods {
    @include block();

    #{$ordering}__title {
      margin-bottom: 32px;
    }

    &-block {
      @include block();
    }

    &-box {
      @include flex();
      border-top: 1px solid $color_gray;
      min-height: 131px;
    }

    &-img {
      position: relative;
      width: 92px;
      padding: 12px 0;

      a {
        text-decoration: none;
      }

      img {
        max-width: 100%;
      }
    }

    &-cont {
      position: relative;
      flex: 1;
      padding: 18px 100px 20px 0;
    }

    &-name {
      @include block();

      a {
        text-decoration: none;
        font-weight: 700;
        font-size: 30px;
        line-height: 33px;
      }
    }

    &-number {
      @include block();
      font-family: 'Montserrat', sans-serif;
      font-weight: 400;
      font-size: 14px;
      line-height: 23px;
      color: $color_text_blue;
    }

    &-price {
      position: absolute;
      top: 12px;
      right: 0;
      font-family: 'Montserrat', sans-serif;
      font-weight: 400;
      font-size: 19px;
      line-height: 23px;
      color: $color_text_blue;
    }
  }

  &__total {
    @include block();
    border-top: 1px solid $color_gray;
    margin: 65px 0 116px 0;

    &-cont {
      @include flex();
      justify-content: space-between;
      padding: 17px 0 14px 0;
    }

    &-title {
      position: relative;
      font-size: 24px;
      line-height: 36px;
      color: $color_text_blue;
    }

    &-value {
      @include flex();

      li {
        @include inline_block();
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 24px;
        line-height: 23px;
        color: $color_text_blue;

        &:not(:first-child) {
          margin-left: 24px;
        }
      }
    }

    &-info {
      @include block();
      font-family: 'Montserrat', sans-serif;
      font-weight: 400;
      font-size: 19px;
      line-height: 23px;
      color: #A7A7A7;

      a {
        font-family: inherit;
        font-weight: inherit;
        font-size: inherit;
        line-height: inherit;
        color: inherit;

        &:hover {
          text-decoration: none;
        }
      }
    }
  }

  &__promo {
    @include block();

    #{$ordering}__title {
      margin-bottom: 29px;
    }

    &-block {
      @include flex();
    }

    &-box {
      position: relative;

      &:nth-child(1) {
       width: 380px;
      }
      &:nth-child(2) {
        flex: 1;
        padding-left: 7px;
      }
    }

    .button {
      padding-left: 54px;
      padding-right: 54px;
    }
  }

  &__price {
    @include flex();
    justify-content: space-between;
    border-top: 1px solid $color_gray;
    margin-top: 183px;

    &-title {
      position: relative;
      padding-top: 22px;

      h2 {
        font-weight: 700;
        font-size: 44px;
        line-height: 36px;
      }
    }

    &-cont {
      position: relative;
      width: 388px;
    }

    &-list {
      @include block();

      li {
        @include flex();
        align-items: center;
        justify-content: space-between;
        min-height: 76px;

        &:not(:first-child) {
          border-top: 1px solid $color_gray;
        }
      }

      span, b {
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 24px;
        line-height: 23px;
        color: $color_text_blue;
      }

      b {
        font-weight: 700;
      }
    }

    .button {
      width: 100%;
      margin-top: 53px;
    }
  }
}
