.personal {
  @include block();
  padding: 42px 0 270px 0;

  @media (max-width: $screen_lg) {
    padding: 40px 0 120px 0;
  }

  &__block {
    @include flex();
    margin-top: 78px;

    @media (max-width: $screen_lg) {
      display: block;
      margin-top: 27px;
    }

    &-menu {
      position: relative;
      width: 25.4%;
      padding-right: 25px;

      @media (max-width: $screen_lg) {
        display: block;
        width: auto;
        padding-right: 0;
      }
    }

    &-cont {
      position: relative;
      flex: 1;

      @media (max-width: $screen_lg) {
        display: block;
        flex: auto;
        margin-top: 60px;
      }

      @media (max-width: $screen_md) {
        margin-top: 30px;
      }
    }
  }

  &__menu {
    @include block();

    li {
      @include block();
      border-top: 1px solid $color_gray;
      padding: 16px 0;

      @media (max-width: $screen_lg) {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 9px 0;
      }

      &:first-child {
        padding: 24px 0;

        @media (max-width: $screen_lg) {
          padding: 11px 0;
        }
      }
    }

    a {
      margin: 5px 0;
      font-family: 'Montserrat', sans-serif;
      font-weight: 400;
      font-size: 19px;
      line-height: 23px;
      text-decoration: none;

      @media (max-width: $screen_lg) {
        font-size: 11px;
        line-height: 11px;
        margin: 3px 0;
      }

      &.active {
        font-weight: 700;
      }
    }
  }

  &__output {
    @include image('output-gray.svg', auto 14px, right 0 center);
    padding-right: 22px;
  }

  &__data {
    @include flex();
    flex-direction: column;
    border: 1px solid $color_gray;
    min-height: 443px;
    padding: 53px 30px 26px 30px;

    @media (max-width: $screen_lg) {
      display: block;
      min-height: 0;
      padding: 0;
      border: none;
    }

    &-name {
      @include block();
      font-size: 44px;
      line-height: 60px;
      color: $color_text_blue;

      @media (max-width: $screen_lg) {
        font-size: 19px;
        line-height: 23px;
      }
    }

    &-info {
      @include block();
      margin-top: 8px;

      @media (max-width: $screen_lg) {
        margin-top: 12px;
        max-width: 260px;
      }

      p {
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 30px;
        line-height: 40px;

        @media (max-width: $screen_lg) {
          font-size: 16px;
          line-height: 20px;
        }
      }
    }

    &-button {
      @include block();
      margin: 30px 0;

      @media (max-width: $screen_lg) {
        margin: 20px 0 0 0;
      }

      .button {
        min-width: 391px;
      }
    }

    &-balance {
      @include block();
      margin: auto 0 0 0;

      @media (max-width: $screen_lg) {
        margin: 30px 0 0 0;
      }

      &-title {
        @include block();
        margin-bottom: 12px;
        font-size: 17px;
        line-height: 19px;
        color: $color_text_blue;

        @media (max-width: $screen_lg) {
          margin-bottom: 3px;
          font-size: 15px;
        }
      }

      &-value {
        @include block();
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 30px;
        line-height: 30px;
        color: $color_text_blue;

        @media (max-width: $screen_lg) {
          font-size: 24px;
          line-height: 28px;
        }
      }
    }
  }

  &__editing {
    $editing: &;
    @include block();
    max-width: 822px;
    padding-left: 15px;

    @media (max-width: $screen_lg) {
      max-width: none;
      margin: 0 auto;
      padding-left: 0;
    }

    &-title {
      @include block();
      margin: -5px 0 24px 0;
      font-size: 30px;
      line-height: 35px;
      color: $color_text_blue;

      @media (max-width: $screen_lg) {
        margin: 48px 0 12px 0;
        font-size: 19px;
        line-height: 23px;
      }
    }

    &-row {
      @include flex();
      margin-bottom: 25px;

      &--user {
        margin-bottom: 90px;
      }

      @media (max-width: $screen_lg) {
        margin-bottom: 0;

        &:not(:first-child) {
          display: block;

          > #{$editing}-col {
            width: auto;
            padding: 0;
            margin-bottom: 8px;
          }
        }
      }
    }

    &-col {
      position: relative;
      width: 50%;

      &:nth-child(1) {
        padding-right: 14px;

        @media (max-width: $screen_lg) {
          padding-right: 6px;
        }
      }

      &:nth-child(2) {
        padding-left: 14px;

        @media (max-width: $screen_lg) {
          padding-left: 6px;
        }
      }
    }

    &-button {
      @include block();
      margin-top: 50px;

      @media (max-width: $screen_lg) {
        margin-top: 36px;
      }

      .button {
        min-width: 391px;

        @media (max-width: $screen_lg) {
          min-width: auto;
          width: calc(50% - 6px);
        }
      }
    }
  }

  &__order {
    @include block();

    @media (max-width: $screen_lg) {
      display: none;
    }

    &-head {
      @include flex();
      margin-bottom: 23px;

      &-name {
        position: relative;
        font-size: 17px;
        line-height: 19px;
        color: $color_text_blue;

        &:nth-child(1) {
          width: 23%;

          @media (max-width: $screen_xl) {
            width: 20%;
          }
        }

        &:nth-child(2) {
          width: 34%;

          @media (max-width: $screen_xl) {
            width: 40%;
          }
        }

        &:nth-child(3) {
          width: 23%;

          @media (max-width: $screen_xl) {
            width: 20%;
            padding-left: 10px;
          }
        }

        &:nth-child(4) {
          width: 20%;

          @media (max-width: $screen_xl) {
            width: 20%;
          }
        }
      }
    }

    &-body {
      @include flex();
      border-top: 1px solid $color_gray;
      padding: 28px 0 16px 0;

      &-box {
        position: relative;

        &:nth-child(1) {
          width: 23%;

          @media (max-width: $screen_xl) {
            width: 20%;
          }
        }

        &:nth-child(2) {
          width: 34%;

          @media (max-width: $screen_xl) {
            width: 40%;
          }
        }

        &:nth-child(3) {
          width: 23%;

          @media (max-width: $screen_xl) {
            width: 20%;
            padding-left: 10px;
          }
        }

        &:nth-child(4) {
          width: 20%;

          @media (max-width: $screen_xl) {
            width: 20%;
          }
        }
      }
    }

    &-info {
      @include block();
      margin-bottom: 16px;
      font-family: 'Montserrat', sans-serif;
      font-weight: 400;
      font-size: 19px;
      line-height: 24px;
      color: $color_text_blue;
    }

    &-container {
      position: relative;
      display: none;
    }

    &-image {
      @include flex();
      margin-bottom: 17px;
    }

    &-img {
      position: relative;
      padding-right: 10px;

      a {
        text-decoration: none;
      }
      
      img {
        max-width: 100%;
      }
    }

    &-name {
      @include block();
      max-width: 184px;

      > a {
        display: inline;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 19px;
        line-height: 24px;
        color: $color_text_blue;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    &-number {
      @include block();
      margin-top: 7px;
      font-family: 'Montserrat', sans-serif;
      font-weight: 400;
      font-size: 14px;
      line-height: 23px;
      color: $color_text_blue;
    }

    &-price {
      @include block();
      font-family: 'Montserrat', sans-serif;
      font-weight: 400;
      font-size: 19px;
      line-height: 24px;
      color: $color_text_blue;
    }

    &-status {
      @include block();
      margin-bottom: 10px;
      font-family: 'Montserrat', sans-serif;
      font-weight: 400;
      font-size: 19px;
      line-height: 24px;
      color: $color_text_blue;
    }

    &-tracking {
      position: relative;
      display: inline-flex;
      flex-direction: column;

      &-title {
        position: relative;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 19px;
        line-height: 24px;
        color: #A7A7A7;
      }

      &-value {
        position: relative;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 19px;
        line-height: 24px;
        color: #A7A7A7;
        background-color: #fff;
      }
    }
  }

  &__orderMobile {
    position: relative;
    display: none;
    margin-top: 60px;

    @media (max-width: $screen_lg) {
      display: block;
    }

    &-block {
      @include block();
      border-top: 1px solid $color_gray;
      padding: 24px 0 20px 0;
    }

    &-row {
      @include flex();
     
      &:not(:last-child) {
        margin-bottom: 19px;
      }
    }

    &-col {
      position: relative;

      &:nth-child(1) {
        width: 75px;
        padding-right: 30px;
      }

      &:nth-child(2) {
        flex: 1;
      }
    }

    &-title {
      @include block();
      padding-top: 2px;
      font-size: 12px;
      line-height: 12px;
      color: $color_text_blue;
    }

    &-value {
      @include block();
      margin-bottom: 8px;
      font-family: 'Montserrat', sans-serif;
      font-weight: 400;
      font-size: 11px;
      line-height: 15px;
      color: $color_text_blue;
    }

    &-cont {
      @include flex();
    }

    &-container {
      position: relative;
      display: none;
    }

    &-contButton {
      @include block();
      max-width: 220px;
      margin-bottom: 12px;

      .button-more {
        padding: 1px 10px 0 10px;
        font-weight: 400;
        font-size: 11px;
        line-height: 11px;
        text-transform: none;

        &:after {
          margin: 0 0 1px 6px;
        }

        * {
          font-family: 'Montserrat', sans-serif !important;
        }
      }
    }

    &-img {
      @include block();
      width: 76px;
      padding: 5px;

      img {
        max-width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    &-name {
      @include block();
      max-width: 130px;
      padding: 8px 0 0 10px;
    }

    &-link {
      @include inline();
      font-family: 'Montserrat', sans-serif;
      font-weight: 400;
      font-size: 11px;
      line-height: 15px;
      color: $color_text_blue;
      text-decoration: none;
    }

    &-number {
      @include block();
      margin-top: 9px;
      font-family: 'Montserrat', sans-serif;
      font-weight: 400;
      font-size: 11px;
      line-height: 15px;
      color: $color_text_blue;
    }

    &-tracking {
      position: relative;
      display: inline-flex;
      flex-direction: column;

      &-title {
        position: relative;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 11px;
        line-height: 15px;
        color: #A7A7A7;
      }

      &-value {
        position: relative;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 11px;
        line-height: 15px;
        color: #A7A7A7;
        background-color: #fff;
      }
    }
  }

  .catalog {
    &__cont {
      padding-top: 0;
    }

    &__item {
      width: 33.33%;

      @media (max-width: $screen_xl) {
        width: 50%;
      }
    }
  }

  .deployBox {
    margin: -8px 0 26px 0;
  }
}
