$path_img: '../images/';
$cont: '.container';

$time: 0.15s;
$side: 37px;
$side_normal: 15px;
$side_header_basket: 24px;

$width_max: 1292px;
$width_min: 320px;

$screen_xl: 1180px;
$screen_lg: 890px;
$screen_md: 768px;
$screen_sm: 640px;
$screen_xs: 500px;

$color_fon_main: #F6F5F1;

$color_text_white: #fff;
$color_text_blue: #2C3B8C;
$color_text_gray: #C4C4C4;

$color_white: #fff;
$color_blue: #2C3B8C;
$color_gray: #C4C4C4;

$header_height: 160px;
$header_height_mobile: 60px;

$footer_height: 600px;
$footer_height_mobile: 1058px;
