<footer class="footer">
       
  <div class="container">

    <div class="footer__row">

      <div class="footer__col">
        <a class="footer__logo" href="index.html"></a>
        <ul class="footer__menu">
          <li><a href="#">Товары</a></li>
          <li><a href="#">Подарочные карты</a></li> 
          <li><a href="#">Доставка</a></li>
          <li><a href="#">О нас</a></li>
          <li><a href="#">Контакты</a></li>
        </ul>
      </div>

      <div class="footer__col">
        <span class="footer__info">Рецепты, специальные предложения и новости в нашем инстаграме</span>
        <a class="footer__link" href="#">@azora.taste</a>
        <span class="footer__copyright">Azora Taste 2021 ©</span>
      </div>

    </div>

  </div>

</footer>
