<footer class="footer">

  <div class="patterns">
    <div class="patterns__left">
      <div class="patterns__box"></div>
      <div class="patterns__box"></div>
    </div>
    <div class="patterns__right">
      <div class="patterns__box"></div>
      <div class="patterns__box"></div>
      <div class="patterns__box"></div>
      <div class="patterns__box"></div>
    </div>
  </div>
       
  <div class="container">

    <div class="footer__row">

      <div class="footer__col">
        <a class="footer__logo" href="index.html"></a>
        <ul class="footer__menu">
          <li><a href="catalog.html">Товары</a></li>
          <li><a href="cert.html">Подарочные карты</a></li> 
          <li><a href="delivery.html">Доставка</a></li>
          <li><a href="about.html">О нас</a></li>
          <li><a href="contacts.html">Контакты</a></li>
        </ul>
        <span class="footer__copyrightMobile">Azora Taste 2021 ©</span>
      </div>

      <div class="footer__col">
        <span class="footer__info">Рецепты, специальные предложения и новости в нашем инстаграме</span>
        <div class="footer__link"><a href="#">@azora.<span>taste</span></a></div>
        <span class="footer__copyright">Azora Taste 2021 ©</span>
      </div>

    </div>

  </div>

</footer>
