<div class="header">

  <div class="container">

    <div class="header__row">

      <div class="header__col">
        <a class="logo" href="index.html"></a>
      </div>

      <div class="header__col">
        <ul class="header__menu">
          <li><a href="#">Товары</a></li>
          <li><a href="#">Подарочные карты</a></li> 
          <li><a href="#">Доставка</a></li> 
          <li><a href="#">О нас</a></li>    
          <li><a href="#">Контакты</a></li>
        </ul>
      </div>

      <div class="header__col">

        <div class="header__basket">

          <div class="header__basket-cont">

            <div class="header__basket-box">
              <div class="header__basket-box-col">
                <a class="header__basket-box-img" href="#"><img src="./img/header-basket/img-1.jpg" alt="img" /></a>
              </div>
              <div class="header__basket-box-col">
                <a class="header__basket-box-name" href="#">Мармелад Prisca</a>

                <div class="counter counter--min">
                  <div class="counter__minus"></div>
                  <input class="counter__input" type="text" value="1" pattern="[0-9]*" inputmode="numeric" />
                  <div class="counter__plus"></div>
                </div>
                
                <span class="header__basket-box-price">740 ₽</span>
                <div class="button-delete"></div>
              </div>
            </div>

            <div class="header__basket-box">
              <div class="header__basket-box-col">
                <a class="header__basket-box-img" href="#"><img src="./img/header-basket/img-2.jpg" alt="img" /></a>
              </div>
              <div class="header__basket-box-col">
                <a class="header__basket-box-name" href="#">Шоколад Niepoort ruby Wine chocolate</a>

                <div class="counter counter--min">
                  <div class="counter__minus"></div>
                  <input class="counter__input" type="text" value="1" pattern="[0-9]*" inputmode="numeric" />
                  <div class="counter__plus"></div>
                </div>
                
                <span class="header__basket-box-price">1 590 ₽</span>
                <div class="button-delete"></div>
              </div>
            </div>

            <div class="header__basket-box">
              <div class="header__basket-box-col">
                <a class="header__basket-box-img" href="#"><img src="./img/header-basket/img-3.jpg" alt="img" /></a>
              </div>
              <div class="header__basket-box-col">
                <a class="header__basket-box-name" href="#">Niepoort ruby Wine chocolate</a>

                <div class="counter counter--min">
                  <div class="counter__minus"></div>
                  <input class="counter__input" type="text" value="1" pattern="[0-9]*" inputmode="numeric" />
                  <div class="counter__plus"></div>
                </div>
                
                <span class="header__basket-box-price">690 ₽</span>
                <div class="button-delete"></div>
              </div>
            </div>

            <div class="header__basket-box">
              <div class="header__basket-box-col">
                <a class="header__basket-box-img" href="#"><img src="./img/header-basket/img-2.jpg" alt="img" /></a>
              </div>
              <div class="header__basket-box-col">
                <a class="header__basket-box-name" href="#">Шоколад Wine chocolate</a>

                <div class="counter counter--min">
                  <div class="counter__minus"></div>
                  <input class="counter__input" type="text" value="1" pattern="[0-9]*" inputmode="numeric" />
                  <div class="counter__plus"></div>
                </div>
                
                <span class="header__basket-box-price">1 830 ₽</span>
                <div class="button-delete"></div>
              </div>
            </div>

          </div>

          <div class="header__basket-foot">

            <div class="header__basket-foot-col">
              <span class="header__basket-foot-total">Итог</span>
              <span class="header__basket-foot-totalVal">2 390 ₽</span>
            </div>

            <div class="header__basket-foot-col">
              <a class="button-inBasket" href="#">К КОРЗИНЕ</a>
            </div>

          </div>

        </div>

        <a class="header__user header__user--icon" href="#"></a>
        
        <div class="header__basketNav">
          <div class="header__basketNav-cont">
            <span class="header__basketNav-number">23</span>
            <a class="header__basketNav-link" href="#"></a>
            <div class="header__basketNav-button"></div>
          </div>
        </div>

      </div>

    </div>

  </div>

  <div class="header__navMobile">
    <span></span>
    <span></span>
    <span></span>
  </div>

  <div class="header__menuMobile">

    <div class="header__menuMobile-cont">
      <ul class="header__menuMobile-list">
        <li><a href="#">Товары</a></li>
        <li><a href="#">Подарочные карты</a></li>
        <li><a href="#">Доставка</a></li>
        <li><a href="#">О нас</a></li>
        <li><a href="#">Контакты</a></li>
      </ul>
    </div>

  </div>

</div>
